/* CSS reset */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
  background: #fff;
}

/* Main Styling */

a{
  text-decoration: none;
}

h1, h2, h3{
  padding-bottom: 20px;
}

p{
  margin: 10px 0;
}

/* Utility */

.clr{
  clear: both;
}

#main-heading{
  font-size: 40px;
  float: left;
  padding-top: 20px;
}

#main-heading a{
  color: #fff;
}

.container{
  margin: auto;
  max-width: 1600px;
  overflow: auto;
  padding: 20px;
}

.decorated-text{
  color: #ff8df6;
}

.lead{
  font-size: 20px;
}

.btn{
  display: inline-block;
  color: #ff8df6;
  border: 2px solid #ff8df6;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50px;
}


.btn:hover{
  background: #ff8df6;
  color: #fff;
  transition: 0.5s;
}

.btn-lite{
  display: inline-block;
  color: #493365;
  background: #fff;
  padding: 5px 10px;
  margin-top: 20px;
  border: 3px solid #493365;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.btn-lite:hover{
  background: #493365;
  color: #fff;
  transition: 1s;
}
/* Navbar */

#navbar{
  background: url('../images/ksenia-makagonova-V-TIPBoC_2M-unsplash.jpg') no-repeat center center/cover;
  height: 800px;
  border-bottom: 2px solid #ff8df6;
}

.navbar img{
  float: left;
  width: 80px;
  height: 50px;
  margin: 10px 20px;
}

.navbar ul{
  list-style: none;
  float: right;
}

.navbar ul li{
  float: left;
}

.navbar ul li a{
  display: block;
  padding: 20px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.navbar ul li a:hover, #navbar ul li a.active{
  color: #fff;
  border-bottom: 2px solid #ff8df6;
  font-weight: bolder;
  transition: 0.2s;
}

/* Showcase */

#showcase .showcase-content{
  color: #fff;
  text-align: center;
  padding-top: 300px;
}

#showcase .showcase-content h1{
  font-size: 60px;
  line-height: 1.2em;
}

#showcase .showcase-content p{
  padding-bottom: 20px;
  line-height: 1.7em;
}

/* Section */

section .course-items{
  display: inline-block;
  width: 30%;
  text-align: center;
  color: #493365;
  padding: 20px;
  margin: 20px;
}

section .icon{
  background: #f7ffa0;
  border-radius: 100px;
  width: 205px;
  height: 205px;
  margin-left: 110px;
  margin-bottom: 50px;
}

section .icon i{
  margin-top: 60px;
}

section .icon:hover,section .icon i:hover{
  background: #493365;
  color: #fff;
  transition: 0.5s;
}

/* Home Info */

#home-info-1{
  height: 400px;
}

#home-info-1 .info-img{
  float: left;
  width: 50%;
  background: url(../images/hero-img.png)no-repeat center center/cover;
  min-height: 100%;
}
#home-info-1 .info-content{
  float: right;
  width: 50%;
  height: 100%;
  text-align: justify;
  color: #493365;
  padding: 30px;
  overflow: hidden;
}

#home-info-2{
  height: 600px;
  margin-top: 50px;
}

#home-info-2 .info-img{
  float: right;
  width: 50%;
  background: url(../images/meditation-img.png)no-repeat center center/cover;
  min-height: 100%;
}
#home-info-2 .info-content{
  float: left;
  width: 50%;
  height: 100%;
  text-align: justify;
  color: #493365;
  padding: 30px;
  overflow: hidden;
}

#home-info-3{
  height: 600px;
}

#home-info-3 .info-img{
  float: left;
  width: 50%;
  background: url(../images/123-1236168_yoga-pose-png-transparent-background-vinyasa-yoga-png.png)no-repeat center center/cover;
  min-height: 100%;
}
#home-info-3 .info-content{
  float: right;
  width: 50%;
  height: 100%;
  text-align: justify;
  color: #493365;
  padding: 30px;
  overflow: hidden;
}

/* Galary */

.galary{
  width: 100%;
  height: 300px;
}

.galary .img-galary-1{
  background: url(../images/anupam-mahapatra-Vz0RbclzG_w-unsplash.jpg) center center/cover;
  display: inline-block;
  width: 19.8%;
  min-height: 100%;
}

.galary .img-galary-2{
  background: url(../images/man-meditating-1881998.jpg) center center/cover;
  display: inline-block;
  width: 19.8%;
  min-height: 100%;
}

.galary .img-galary-3{
  background: url(../images/nate-johnston-2gBpsNuHcyA-unsplash.jpg) center center/cover;
  display: inline-block;
  width: 19.8%;
  min-height: 100%;
}

.galary .img-galary-4{
  background: url(../images/woman-in-black-tank-top-373933.jpg) center center/cover;
  display: inline-block;
  width: 19.8%;
  min-height: 100%;
}

.galary .img-galary-5{
  background: url(../images/woman-doing-yoga-inside-a-room-3094215.jpg) center center/cover;
  display: inline-block;
  width: 19.8%;
  min-height: 100%;
}

/* Table */

#home-table{
  height: 500px;
}

#home-table .table{
  display: inline-block;
  background: #f7ffa0;
  width: 30%;
  color: #493365;
  overflow: auto;
}

#home-table table{
  line-height: 50px;
}


#home-table #bottom-content{
  display: inline-block;
  text-align: justify;
  width: 60%;
  color: #493365;
  padding-left: 20px;
  margin: auto;
}

/* Footer */

footer{
  background: #ff8df6;
  color: #fff;
  padding: 5px 0;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}


/* About Us 
Starts Here */

